*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 10px;
    background-color: #edddd4;
}

.hero {
    display: flex;
    gap: 28px;
    padding: 36px;
    align-items: center;
}

.hero-left-wrap {
    flex: 1.4;
    margin-right: 48px;
}

.hero-left {
    background-color: #462521;
    padding: 15px;
    border-radius: 24px;
}

.hero-left h3 {
    color: #edddd4;
}

.Name {
    color: #edddd4;
    font-weight: 800;
}

.hero-left h2 {
    color: #edddd4;
}

.hero-left p {
    color: #edddd4;
    line-height: 1.6;
}

.social-links {
    margin-top: 16px;
    padding-left: 12px;
    display: flex;
    gap: 16px;
}

.social-links a {
    color: #462521;
    font-size: 36px;
}

.hero-right {
    flex: 0.6;
    align-self: center;
}

.foto {
    background: #7b886f;
    border-radius: 24px;
    padding: 14px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)
}

.foto img {
    border-radius: 18px;
    width: 100%;
    object-fit: cover;
}

img {
    object-fit: cover;
}

.background {
    padding: 10px 36px;
}

.background-title {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
    color: #462521;
}

.background-content {
    display: flex;
    gap: 20px;
}

.background1,
.background2,
.background3 {
    flex: 1;
    background-color:#7b886f;
    padding: 10px;
    border-radius: 24px;
    color: #19381f;
}